@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Krona+One&family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

body {
  box-sizing: border-box;
  background-color: var(--Grey);
  height: 100vh;
}

.page {
  width: 52em;
  height: 33em;
  margin: 12% 29%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--White);
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.section-main {
  display: flex;
  padding: 2%;
  gap: 15px;
}

.col-a {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 446px;
  padding-left: 4%;
  padding-top: 5%;
}

.col-a h1 {
  font-weight: 700;
  font-size: 58px;
  color: var(--Dark-Slate-Grey);
}

.col-a p {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.email {
  font-weight: 700;
  font-size: 14px;
  color: var(--Charcoal-Grey);
  padding-top: 3%;
}

.input_email {
  border-radius: 5px;
  width: 85%;
  height: 3.3em;
  text-indent: 8%;
}

.subscribe {
  border-radius: 5px;
  width: 85%;
  height: 3.3em;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
}

.subscribe:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  transition: 1s;
}

