@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Krona+One&family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

body {
  box-sizing: border-box;
  background-color: var(--Grey);
  height: 100vh;
}

.page {
  width: 52em;
  height: 33em;
  margin: 12% 29%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--White);
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.section-main {
  display: flex;
  padding: 2%;
  gap: 15px;
}

.col-a {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 446px;
  padding-left: 4%;
  padding-top: 5%;
}

.section__title {
  font-weight: 700;
  font-size: 58px;
  color: var(--Dark-Slate-Grey);
}

.section__paragraph {
  font-size: 16px;
}

.section__paragraph--highlighted {
  font-weight: 700;
  color: var(--dark-slate-grey);
}

.form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 88%;
}

.form__label {
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--Charcoal-Grey);
}

.form__input__email {
  border-radius: 5px;
  width: 100%;
  height: 3.3em;
  text-indent: 8%;
}

.form__div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__error-msg_hide {
  display: none;
}

.form__error-msg {
  position: absolute;
  right: 0;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--Tomato);
}

.subscribe {
  border-radius: 5px;
  width: 100%;
  height: 3.3em;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
}

.subscribe:hover {
  cursor: pointer;
  background-color: var(--Tomato);
  transition: 1s;
}

.section__success {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.section_hide {
  display: none;
}

.section__icon {
  width: 64px;
  height: 64px;
}

.section__success {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2rem;
  gap: 2rem;
}

.section__btn {
  border-radius: 5px;
  width: 28%;
  align-self: center;
  height: 3.3em;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
}

.section__btn:hover {
  cursor: pointer;
  background-color: var(--Tomato);
  transition: 1s;
}

