html {
  background-color: rgba(206, 235, 247, 0.426);
}

body {
  justify-content: center;
  display: flex;
}

.qr-code {
  max-width: 20rem;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  padding: 1rem 1rem 2rem;
}

.qr-code img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}