@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Krona+One&family=Montserrat:wght@400;600&family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

html {
  background-color: var(--Light-gray);
  justify-content: center;
  display: flex;
  height: 100%;
}

body {
  height: 50%;
  display: flex;
  align-self: center;
}

.qr-code {
  max-width: 20rem;
  border-radius: 20px;
  background-color: white;
  padding: 1rem 1rem 2rem;
  height: 100%;
}

.qr-code img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.wrapper {
  text-align: center;
  width: 90%;
  margin: auto;
}

.title {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
}

.subtitle {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
}